* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 1000px;
}

html,
body {
	height: 100%;
}
html {
	display: table;
	margin: auto;
}
body {
	display: table-cell;
	vertical-align: middle;
}

@font-face {
	font-family: inter;
	src: url(/font/Inter_28pt-ExtraBold.ttf);
}

@font-face {
	font-family: sourceserif;
	src: url(/font/SourceSerif4-Italic.ttf);
}

@font-face {
	font-family: robotomono;
	src: url(/font/RobotoMono-Regular.ttf);
}

body {
	background-color: #ffd000;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

h1 {
	font-family: inter;
}

h2 {
	font-family: sourceserif;
}

h3,
p {
	font-family: robotomono;
}

nav {
	padding: 1rem;
	display: flex;
	background-color: #ffd000;
}

.btn1 {
	background-color: black;
	font-family: robotomono;
	color: white;
	text-decoration: none;
}

.logo {
	max-width: 75px;
	max-height: 75px;
}

.grid_3-1-1-1 {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	grid-template-rows: 33.33% 33.33% 33.33%;
}

.tomotekst {
	grid-template-columns: 5;
	grid-row: 2/4;
}

.tekstpil {
	grid-column: 6;
	grid-row: 2/3;
	max-width: 40px;
	max-height: 40px;
}

.tomo {
	grid-column: 7;
	grid-row: 2/4;
	max-width: 75px;
	max-height: 75px;
}

.headerstyle {
	grid-column: 1;
	grid-column: 1/2;
	grid-row: 1/4;
}

.slideshow {
	background-color: bisque;
}

.dropdown {
	background-color: black;

	height: auto;
}

.grid_1-1-1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 33.33% 33.33% 33.33%;
	gap: 0.5em;
	padding-bottom: 15px;
}

.nudelguidepage {
	background-color: black;
	max-width: 100%;
	height: auto;
}

.footerstyle {
	background-color: black;
	max-width: 100%;
	height: auto;
}
