* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 1000px;
}

html,
body {
	height: 100%;
}
html {
	display: table;
	margin: auto;
}
body {
	display: table-cell;
	vertical-align: middle;
}

@font-face {
	font-family: inter;
	src: url(/font/Inter_28pt-ExtraBold.ttf);
}

@font-face {
	font-family: sourceserif;
	src: url(/font/SourceSerif4-Italic.ttf);
}

@font-face {
	font-family: robotomono;
	src: url(/font/RobotoMono-Regular.ttf);
}

body {
	background-color: #ffd000;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

h1 {
	font-family: inter;
}

h2 {
	font-family: sourceserif;
}

h3,
p {
	font-family: robotomono;
}

nav {
	padding: 1rem;
	display: flex;
	background-color: #ffd000;
}

.btn1 {
	background-color: black;
	font-family: robotomono;
	color: white;
	text-decoration: none;
}

.logo {
	max-width: 75px;
	max-height: 75px;
}

.grid_3-1-1-1 {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	grid-template-rows: 33.33% 33.33% 33.33%;
	margin-bottom: 15px;
}

.tomotekst {
	grid-template-columns: 5;
	grid-row: 2/4;
}

.tekstpil {
	grid-column: 6;
	grid-row: 2/3;
	max-width: 40px;
	max-height: 40px;
}

.tomo-r {
	grid-column: 7;
	grid-row: 2/4;
	max-width: 75px;
	max-height: 75px;
}

.headerstyle {
	grid-column: 1;
	grid-column: 1/2;
	grid-row: 1/4;
}

.slideshowbox {
	background-color: rgb(0, 0, 0);
	max-width: 100%;
	height: auto;
	display: block;
	padding-top: 15px;
	padding-bottom: 30px;
}

.grid_1-2-3-2-1 {
	display: grid;
	grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

.pil-l {
	color: white;
	grid-column: 1;
	grid-row: 3;
}

.sliderbillede {
	max-width: 100%;
	height: auto;
	grid-column: 2;
}

#forsideh3 {
	color: white;
	padding-bottom: 20px;
	grid-column: 3/5;
	grid-row: 1;
}

.slidernudelinfo {
	color: white;
	grid-column: 4/6;
	grid-row: 3/4;
}

.pil-r {
	color: white;
	grid-column: 9;
	grid-row: 3;
}

.grid_1-1-3-1 {
	padding-top: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

.tomo-l {
	grid-column: 1;
	grid-row: 4/5;
	max-width: 75px;
	max-height: 75px;
}

.tekstpil-l {
	max-width: 40px;
	max-height: 40px;
	transform: scaleX(-1);
	grid-column: 2;
	grid-row: 4/5;
}

#findnudel {
	grid-column: 3/4;
	grid-row: 1;
}

.btn2 {
	grid-column: 3/4;
	grid-row: 2;
}
.btn1 {
	grid-column: 3/4;
	grid-row: 3;
}

.proevlykken {
	display: flex;
	justify-content: right;
}

.dropdown {
	background-color: black;
}

.grid_1-1-1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 33.33% 33.33% 33.33%;
	gap: 0.5em;
	padding-top: 15px;
	padding-bottom: 15px;
}

.nudelguidepage {
	background-color: black;
	max-width: 100%;
	height: auto;
}

.nyhederstyle {
	display: block;
	background-color: rgb(0, 0, 0);
	max-width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 125px;
}

.grid_2-2 {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 33.33% 33.33% 33.33%;
	gap: 0.5em;
	padding-top: 15px;
	padding-bottom: 15px;
}

.nyhederinfo {
	color: white;
}

.flex-start {
	display: flex;
	justify-content: start;
}

#tomo-nyheder {
	grid-column: 1;
	max-width: 75px;
	max-height: 75px;
}

#tekstpil-nyheder {
	max-width: 40px;
	max-height: 40px;
	transform: scaleX(-1);
	grid-column: 2;
}

#nyhdertekst {
	grid-column: 2/4;
}
/* opskrifter-start */
.featuredopskrift {
	display: grid;
}
/* opskrifter-slut */

/* galleri-start */

.grid_1-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
	padding-top: 40px;
	padding-bottom: 20px;
}

.grid_1-1-1-1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0.5em;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* galleri-slut */

.footerstyle {
	background-color: black;
	max-width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.footerstylekontakt {
	justify-content: space-between;
	list-style-type: none;
}
