@media (max-width: 600px) {
	main {
		max-width: 1000px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 24px;
	}

	p {
		font-size: 16px;
	}

	/* gør teksten i menuen større og hvid */
	.ham-menu-tekst {
		text-decoration: none;
		color: white;
		font-family: robotomono;
		font-size: 36px;
	}
	.ham-menu-tekst:hover {
		text-decoration-line: underline;
	}

	/* off-screen-menu er den skjulte menu, 
	som ligger uden for skærmen til højre(right: -450px)
	Når .active-klassen tilføjes via JavaScript, 
	glider den ind på skærmen (right: 0).*/
	.off-screen-menu {
		background-color: #0b0004;
		opacity: 98%;
		height: 100vh;
		width: 100%;
		max-width: 450px;
		position: fixed;
		top: 0;
		right: -450px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 100px;
		align-items: center;
		text-align: center;
		font: 3rem;
		transform: 0.3s ease;
	}

	.off-screen-menu.active {
		right: 0;
	}
	/* .ham-menu (hamburger-knappen)
    Laver en knap med tre streger (<span>-elementer).
    De er placeret som en klassisk "hamburgermenu" 
	med top, midt og bund. */
	.ham-menu {
		height: 50px;
		width: 40px;
		margin-left: auto;
		position: relative;
	}

	.ham-menu span {
		height: 5px;
		width: 100%;
		background-color: #0b0004;
		border-radius: 25px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s ease;
	}

	.ham-menu span:nth-child(1) {
		top: 25%;
	}

	.ham-menu span:nth-child(3) {
		top: 75%;
	}
	/* .ham-menu.active (Når menuen er åben)
    Øverste og nederste streg roteres, så de danner et "X".
    Midterste streg bliver usynlig (opacity: 0). */
	.ham-menu.active span {
		background-color: white;
	}
	.ham-menu.active span:nth-child(1) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	.ham-menu.active span:nth-child(2) {
		opacity: 0;
	}

	.ham-menu.active span:nth-child(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.slide-content {
		display: grid;
		grid-template-columns: 1fr 1fr; /* Bevarer layoutet med billede + tekst ved siden af hinanden */
		gap: 10px; /* Mindre afstand mellem elementer */
	}
	.prev,
	.next {
		display: none; /* Skjuler navigationspile på mobil, da vi bruger swipe i stedet */
	}

	/* Prikker under billedet på mobil */
	.slideshow-indicators {
		margin-top: 245px; /* Lidt tættere på billedet */
		margin-left: -610px; /* Lidt tættere på billedet */
	}

	.grid_1-1-1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 33.33% 33.33% 33.33%;
	}
	.grid_1-1-1-1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}
	.grid_1-1-opskrifter {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2em;
		padding-top: 40px;
		padding-bottom: 20px;
	}
}

@media (min-width: 600px) {
}
